body {
    margin: 0;
    font-family: "Pacifico", cursive;
  }

  .titulo {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del elemento padre */
  }
  
  .titulo:hover {
    text-decoration: none; /* Elimina el subrayado al pasar el mouse */
  }

  header {
    background-color: #dd7f86; /* Color de fondo del encabezado */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0px -1px 7px 1px rgba(0, 0, 0, 0.5); /* Sombra */
    border-bottom: 1px solid #df535a;
    position: sticky;
    top: 0;
    z-index: 10000;
  }

  .titulo {
    color: #ffffff; /* Color del texto del título */
    font-size: 15px;
    margin-left: 10px;
    font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
    -webkit-text-stroke: 1px rgb(0, 0, 0); /* Contorno de 1 píxel de ancho en color negro */
    display: flex;
    align-items: center;
    z-index: 1000;
  }
  .img-titulo{
    width: 100px;
    height: 100px;
    position: relative;
    right: 120px;
    z-index: -1;
  }

  h2{
    color: #000000;
    -webkit-text-stroke: 1px rgb(0, 0, 0); /* Contorno de 1 píxel de ancho en color negro */
    background-color: #dd7f86;
    border-radius: 15px;
    padding: 10px 10px;
    
  }

  .boton-menu {
    background-color: transparent;
    border: none;
    color: #ffffff; /* Color del texto del botón */
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    .titulo {
      font-size: 10px;
      
    }

    .boton-menu {
      font-size: 15px;
    }
  }

  @media only screen and (min-width: 350px) {
    .titulo {
      font-size: px;
    }

    .img-titulo{
      width: 80px;
      height: 80px;
      position: relative;
      right: 117px;
      z-index: -1;
    }

    .boton-menu {
      font-size:15px;
    }
  }

  .input1 {

    display: flex;
    flex-direction: column;
    

  }
  .fondo-form {

    background-color: #edb2b2;
    border: 1px solid #df535a;
    border-radius: 4%;
    padding: 5% 20% 10% 20%;
    font-family: "Arvo", serif;
    font-weight: 900;
    font-style: normal;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); /* Sombra */

  }


  label{
    margin: 20px 10px;
  }

  input{

    background-color: #e7e7e7;
    border: 5px solid #df535a;
  }

  .fondo-generalc {
    background-image: url('/abtract.jpg'); /* URL de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
    background-repeat: no-repeat; /* Color de fondo general */
    min-height: 100%; /* Altura mínima para que ocupe toda la pantalla */
    display: flex;
    z-index: 99;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10% 10% 30% 10%;
  }


  .fondo-general {
    background-image: url('/abtract.jpg'); /* URL de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
    background-repeat: no-repeat; /* Color de fondo general */
    min-height: 100%; /* Altura mínima para que ocupe toda la pantalla */
    display: flex;
    z-index: 99;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px 20px 50px 20px;
    margin: auto;
    
  }

  .fondo-generalG {
    background-image: url('/abtract.jpg'); /* URL de la imagen de fondo */
    background-size: contain; /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
    background-repeat: repeat; /* Color de fondo general */
    min-height: 100%; /* Altura mínima para que ocupe toda la pantalla */
    display: flex;
    z-index: 99;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 20% 10% 20%;
  }

  .button-1{
      color: #ffffff;
      background-color: #535353;
  }


  .carta {
    background-color: #edb2b2; /* Color de fondo de la carta */
    width: 80%;
    max-width: 600px; /* Máximo ancho de la carta */
    margin: 50px auto; /* Centrado horizontal */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); /* Sombra */
  }

  .carta p {
    text-align: center;
    font-size: 18px;
  }

  @media only screen and (max-width: 768px) {
    .carta {
      width: 90%;
    }
  }





  footer {
    background-color: #dd7f86; /* Color de fondo del encabezado */
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    align-items: center;
    border-top: 1px solid #df535a;
    box-shadow: inset 1px 2px 7px 1px rgba(0, 0, 0, 0.5);
    position: sticky;
    bottom: 0;
  }

  


 

  @media only screen and (max-width: 768px) {
    footer {
      font-size: 20px;
    }
  }


  .menu-desplegable {
    position: relative;
  }
  
  .opciones-menu {
    position: absolute;
    top: calc(100% + 5px); /* Posición debajo del botón */
    background-color: white; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  .opciones-menu a {
    display: block;
    color: #333; /* Color del texto */
    text-decoration: none;
    padding: 5px;
  }
  
  .opciones-menu a:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
  }


  //galeria


  .fondo-general {
    background-color: #DD969C; /* Color de fondo general */
    min-height: 100vh; /* Altura mínima para que ocupe toda la pantalla */
    display: flex;
    z-index: 99;
    
  }

  .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Columnas automáticas */
    gap: 20px; /* Espacio entre las imágenes */
  }
  
  .imagen {
    border-radius: 5px;
    overflow: hidden;
  }
  
  .imagen img {
    width: 100%;
    display: block;
    border-radius: 5px;
    transition: transform 0.3s ease; /* Animación de transición */
  }
  
  .imagen:hover img {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
  }



  // inicio de sesion 


  

  .label1 label {

    color: #ffffff;

  }

  /* Estilos para el título */
.fondo-general h2 {
    text-align: center;
    color: #ededed;
    font-size: 20px;
    
  }
  
  /* Estilos para los campos del formulario */
  .fondo-general form {
    display: flex;
    flex-direction: column;
  }
  
  .fondo-general form label {
    margin-bottom: 5px;
  }
  
  .fondo-general form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para el botón de enviar */
  .fondo-general form button {
    background-color: #535353;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 6px 10px 5px rgba(0, 0, 0, 0.1);
  }
  
  .fondo-general form button:hover {
    background-color: #161616;
  }
  
  /* Estilos para el mensaje de error */
  .mensaje-error {
    color: #edebeb;
    margin-top: 10px;
    padding: 5px;
    background-color: #b30000;
    font-family: "Arvo", serif;
    font-weight: 900;
    font-style: normal;
  }

  .logo {
    position:relative;
    top: 58px;
    width: 200px; /* Cambia esto al tamaño que desees */
    height: 200px; /* Cambia esto al tamaño que desees */
  }
  

  
